header{
	background:#ccc;
	border-bottom:2px solid #000;
	padding:0;
	margin:0;
}
header h1{
	padding:15px;
	margin:0;
}
#nav-list{
	margin-top:50px;
}
.navbar-toggle{
	position:absolute;
	top:5px;
	right:0;
	z-index:2;
	border-color:#000;
	border-width:2px;
	padding:4px;
}
.navbar-toggle .icon-bar{
	background:#000;
}
.navbar-nav > li > a{
	text-align: center;
	color:#000;
	border-top:2px solid #333;
	background:#fff;
}
.navbar-nav{
	margin-bottom:0;
}
section{

}
#beef,#sushi,#chicken{
	padding:15px;
	background:#ccc;
	margin-bottom:15px;
}

h3{
	padding-bottom:15px;
	font-size:1.5em;
	display: block;
}
@media (min-width: 768px) {


}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
